.serviceImg {
  color: rgba(72, 27, 174, 1) !important;
}

#services {
  background-color: #00a8ff;
  color: white !important;
  padding-top: 15vh;
}

#services .section__header {
  margin-bottom: 0px;
}

.text-muted {
  color: white !important;
}

.fontAwesome {
  font-size: 7rem;
  margin-bottom: 20px;
}

.alignLeft {
  text-align: left;
}
