.fullWidthButton {
  width: 100% !important;
  height: 100% !important;
}

#info hr {
  border: none;
}

#info {
  padding-bottom: 0px !important;
}

@media (max-width: 400px) {
  .shrink {
    width: 100% !important;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}
